<h1 class="center">Liste des Pokémons !</h1>

<div class="container">
  <div class="row">
    <app-search-pokemon></app-search-pokemon>
    <div *ngFor="let pokemon of pokemonList" class="col s12 m6 l6 xl4">
      <div
        class="card horizontal"
        appBorderCard
        [routerLink]="['/', 'pokemon', pokemon.id]"
      >
        <div class="card-image">
          <img [src]="pokemon.picture" alt="image de {{ pokemon.name }} " />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>
              <strong>#{{ pokemon.id }} {{ pokemon.name }}</strong>
            </p>
            <br />
            <!-- <p>{{pokemon.created | date:"dd/MM/yyyy" }}</p> -->
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }} white-text"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a
    class="btn-floating btn-large waves-effect waves-light red darken-3"
    routerLink="/pokemon/add"
  >
    <i class="large material-icons">add</i>
  </a>
</div>
