/* You can add global styles to this file, and also import other style files */
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;

  width: 20px;

  height: 20px;

  border: 2px solid #c62828;

  background-color: #c62828;

  z-index: 0;
}

.collection-item {
  color: #c62828;
}

.border {
  border: 1px solid black;
}
